.heart{
    background-color: red;
    display: inline-block;
    height:300px;
    margin:0 100px;
    top:0;
    transform: rotate(-45deg);
    width:300px;
    background-position: 50% 50%;
}
.heart:before,/*{
    content: "";
    background-color: red;
    height: 300px;
    border-radius: 50%;
    width:300px;
    position: absolute;
}*/

.heart:after{
    content: "";
    background-color: red;
    height: 300px;
    border-radius: 50%;
    width:300px;
    position: absolute;
}
.heart:before{
    top:-150px;
    left:0;
}
.heart:after{
    left:150px;
    top:0;
}
h1{
    text-align: center;
    color:orange;
    text-shadow: 1px 2px 3px coral;
}